:root{
  box-sizing: border-box;
}



#login-form {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  margin: 60px auto;
}

.logBox{
display: flex;
flex-direction: column;
text-align: center;
/* border: 2px solid rgb(0, 204, 255); */
background-color: skyblue;
border-radius: 10px;
box-shadow: 5px 5px 10px;
}

input{
  margin: 5px;
}

label{
  margin: 3px;
}
.submitButton{
  margin: 25px;
}