#menu {
  background-color: lightskyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;
  margin: 0px auto;
}
h1{
  margin: 30px auto;
  text-shadow:3px 3px 5px slategrey;

}
h2{
  margin: 50px auto;
  text-align: center;
}
#menu-links {
  display: flex;
  padding-left: 1em;
}

#menu-links a {
  padding-right: 0.5em;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}
